<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="np.cnblabs.accountdemo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignUp"
            android:parentActivityName=".Login"
            android:label="@string/signup"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".ListViewArrayAdapter"
            android:parentActivityName=".MainActivity"
            android:label="@string/listview"/>

        <activity
            android:name=".RecyclerActivity"
            android:label="@string/recycler_view"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".DownloadImageActivity"
            android:label="@string/download_image_using_async"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".JsonAPI"
            android:label="@string/json_api"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".PicassoImage"
            android:label="@string/picasso"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".RetrofitActivity"
            android:label="@string/retrofit"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".RealmActivity"
            android:label="@string/realm"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>