<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="np.cnblabs.accountdemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignUp"
            android:label="@string/signup"
            android:parentActivityName=".Login" />

        <activity
            android:name=".SpinnerActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".ListViewArrayAdapter"
            android:label="@string/listview"
            android:parentActivityName=".NavigationActivity" />

        <activity
            android:name=".RecyclerActivity"
            android:label="@string/recycler_view"
            android:parentActivityName=".NavigationActivity" />

        <activity
            android:name=".DownloadImageActivity"
            android:label="@string/download_image_using_async"
            android:parentActivityName=".NavigationActivity" />

        <activity
            android:name=".JsonAPI"
            android:label="@string/json_api"
            android:parentActivityName=".NavigationActivity" />

        <activity
            android:name=".PicassoImage"
            android:label="@string/picasso"
            android:parentActivityName=".NavigationActivity" />

        <activity
            android:name=".RetrofitActivity"
            android:label="@string/retrofit"
            android:parentActivityName=".NavigationActivity" />

        <activity
            android:name=".RealmActivity"
            android:label="@string/realm"
            android:parentActivityName=".NavigationActivity" />

        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ViewPagerActivity"
            android:label="@string/view_pager"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".NavigationActivity"/>
    </application>

</manifest>